DATABASE_URL=""
DIRECT_URL=""
MONGO_URI=""
NODE_ENV=""
PORT=
APP_NAME=""
JWT_SECRET=""
JWT_EXPIRES_IN=""

BCRYPT_SALT_ROUNDS=
OTP_EXPIRES_MINUTES=

FACE_MATCH_THRESHOLD=

MAIL_HOST=""
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM=""